<main class="main">
  <div class="content">
    <div class="card-box">
      <mat-card class="card-main">
        <mat-card-content>
          <button mat-fab class="btn yes-btn" aria-label="Yes" (click)="playYes();">Y</button>
          <button mat-fab class="btn no-btn" aria-label="No" (click)="playNo();">N</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <footer>
    <p>
      Brought to you by Killer Cat Studios
    </p>
    <img class="icon footer-icon" src="../assets/images/KillerCatLogo.jpg" />
  </footer>
</main>
<router-outlet />
